name: Offline Tests

on:
  pull_request:
    paths:
      - "**"
  workflow_dispatch:
    
jobs:
  hurl-tests:
    timeout-minutes: 3
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Start Terrable
        working-directory: ./tests
        run: |-
          bash ./_start.sh &
      
      - name: Install Hurl
        run: |
          VERSION=5.0.1
          curl --location --remote-name https://github.com/Orange-OpenSource/hurl/releases/download/$VERSION/hurl_${VERSION}_amd64.deb
          sudo apt update && sudo apt install ./hurl_${VERSION}_amd64.deb

      - name: Wait for API to be ready
        run: |
          timeout 60s bash -c 'while [[ "$(curl -s -o /dev/null -w ''%{http_code}'' 127.0.0.1:8081)" != "200" ]]; do sleep 2; done' || false
  
      - name: Run Parallel Hurl tests
        run: |
          hurl --test --glob *.hurl
        working-directory: ./tests/parallel

      - name: Run Sequential Hurl tests
        run: |
          hurl --test --glob *.hurl
        working-directory: ./tests/serial

      - name: Stop API
        run: pkill terrable
        if: always()
